In [ ]:
#Python datatypes----integers,float,complex numbers,boolean, 
#lists, sets, tuples, dictionaries...
#Functions/method in python 
#OOP concepts in Python

In [16]:
#integers---whole numbers
a=1
print(type(a))


#float number---contains decimal
b=3.14
print(type(b))


#string---contains "",  ''
c="Hello"  
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [17]:
#List___ mutable, uses []...contains any type of data.

l=[1,2,"Jany",3.14]
print(l)

l[1]=5 
print(l)       #mutable
print(type(l))

[1, 2, 'Jany', 3.14]
[1, 5, 'Jany', 3.14]
<class 'list'>

In [20]:
#Tuple___same as list but not mutable, uses ().

t=(1,2,"Jany",3.14)
print(t)

#t[1]=5   #immutable so it will not replace 2 with 5.
#t
print(type(t))

(1, 2, 'Jany', 3.14)
<class 'tuple'>

In [24]:
#set__prints only unique value, not mutable, uses {}.

s={1,2,"Jany",3.14,2,3,3}
print(s)

#s[1]=5
#print(s)

{1, 2, 3, 3.14, 'Jany'}

TypeError: 'set' object does not support item assignment

In [25]:
#Dictionary---mutable, uses{}.

dict={'name':'Jany', 'age':20}
print(dict)

dict['name']='amna'    #mutable so can replace value
print(dict)

{'name': 'Jany', 'age': 20}
{'name': 'amna', 'age': 20}

In [30]:
#Operators in Python:
a=2*4
print(a)


b=2-4
print(b)

c=2/4
print(c)

d=2+4
print(d)

e=2**4
print(e)

8
-2
0.5
6
16

In [33]:
m=2**2
print(m)

n=m

a=n+m
print(a)

4
8

In [35]:
a=4
b=5

a>b   #checking its boolean value

True

In [39]:
#in____not in use:
#if we want to check any value in given data list then we can apply this....

x=3
y=6
a=[1,2,3,4,5]

if( x not in a):
    print("X not in list")
else:
    print("X is in List")

X is in List

In [40]:
a=4
b=6
if a>b:
    print("True")
elif a==b:
    print("Equal")
else:
    print("False")

False

In [41]:
a=[1,2,3,4,5]
for x in a:
    print(x)

1
2
3
4
5

In [42]:
a=1
while a<5:
    print(a)
    a=a+1

1
2
3
4

In [48]:
#Function in python:
def data(a,b):
    sum=a+b
    print(sum)
    
data(2,3)

5

In [49]:
ax=lambda x:x*2
print(ax(5))

10

In [67]:
def collection(cgpa, per,):
    if cgpa>3.0:
        if cgpa==3.0:
            print("Interview")
        elif cgpa<3.0:
            print("Pass a Test")
        if per>80:
            if per==80:
                print("Selected")
            else:
                print("Rejected")   
        else:
            print("Pass Test")
    
print(collection(2.5, 90))

None

In [70]:
#Simple class in python:

class info:
    pass

p1=info()
p2=info()

p1.name="Jony"
p1.age="20"
p2.name="John"
p2.age="21"

print(p1.name)
print(p2.name)

Jony
John

In [76]:
#when we want to assign value to any object or we want to use common values 
#then use __init__ (constructor):

class info:
    def __init__(self,name,age):
        self.name=name
        self.age=age

p1=info('Jony', 20)
p2=info('John', 21)

p1.roll=8         #we can add value to a object

print(p1.name)
print(p1.__dict__)

Jony
{'name': 'Jony', 'age': 21, 'roll': 8}

In [86]:
#Applying multiple functions in class:
class info:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def agee(self):
        self.age=int(self.age*1.5)
    
p1=info('Jony', 20)
p2=info('John', 21)


print(p1.age)

p1.agee()
print(p1.age)

21
31

In [90]:
#Inheritance class---- may inherit data from base class to child class.
class info:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def agee(self):
        self.age=int(self.age*1.5)
    
class collect(info):
    pass

p1=info('Jony', 20)
p2=info('John', 21)

print(p1.age)

#we may use functions of base class....!
p1.agee()
print(p1.age)

20
30

In [103]:
#Abstraction in Python-----we need to use abstract method for it by using ABC module because 
#python doesn't provide abstract class itself.

from abc import ABC, abstractmethod

class info(ABC):
    @abstractmethod
    def agee(self):
        pass
    
class collect(info):
    
    def agee(self):
        print('John age is 20 years old')

class calc(info):
    def agee(self):
         print('Jony age is 21 years old')
    
p1=collect()
p2=calc()

p1.agee()
p2.agee()

John age is 20 years old
Jony age is 21 years old